	<!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="<% root_path %>">
                <img src="home/images/LOGO.png" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->

        <a class="header__search-trigger" href="#"></a>

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Menu</h2>

            <ul class="header__nav">
                <li class="has-children">
                    <a href="#0" title="">Province</a>
                    <ul class="sub-menu">
                    	<li><a href="category.html">Antananarivo</a></li>
                        <li><a href="category.html">Antsiranana</a></li>
                        <li><a href="category.html">Mahajanga</a></li>
                        <li><a href="category.html">Toamasina</a></li>
                        <li><a href="category.html">Fianarantsoa</a></li>
                        <li><a href="category.html">Toliara</a></li>
                    </ul>
                <li class="has-children">
                    <a href="#0" title="">Tout les evenemets</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Sport</a></li>
                        <li><a href="category.html">Cabaret</a></li>
                        <li><a href="category.html">Spectacle</a></li>
                        <li><a href="category.html">Soirée</a></li>
                        <li><a href="category.html">Festival</a></li>
                        <li><a href="category.html">Scolaire</a></li>
                        <li><a href="category.html">Lifestyle</a></li>
                        <li><a href="category.html">Foire</a></li>
                        <li><a href="category.html">Salon</a></li>
                        <li><a href="category.html">Teatre</a></li>
                        <li><a href="category.html">Evangelique</a></li>
                        <li><a href="category.html">Balle</a></li>
                    </ul>
                </li>

                <% if(user_signed_in?) %>
                <li class="has-children">
                    <%if current_user.image?%>
                        <a href="#0" title=""><img src="<%= current_user.image %>" style="border-radius: 100%; width: 25px; height: 25px; margin-bottom: -10px;"></a>
                    <% else %>
                        <a href="#0" title=""><img src="users/images/user-icon.png" style="border-radius: 100%; width: 25px; height: 25px; margin-bottom: -10px;"></a>
                    <% end %>
                    <ul class="sub-menu">
                        <li><a href="/<%= current_user.username%>"><%= current_user.username.capitalize %></a> </li>
                        <li><a href="<%= posts_path%>">Mes publications</a></li>
                    <li><%= link_to "se deconecter", destroy_user_session_path, method: :delete, style: "color: #DCD850; font-size: 15px" %></li>
                    </ul>
                </li>
                <% else %>
                    <li><%= link_to "se connecter", new_user_session_path, style: "color: #15c4d4; font-size: 18px" %></li>
                    <li><%= link_to "s'inscrire", new_user_registration_path(@user), style: "color: #68de4d; font-size: 16px" %></li>
                <% end %>

            </ul>

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav>

    </header>



    <section class="s-featured">
        <div class="row">
            <div class="col-full">

                <div class="featured-slider featured" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[0].image%>');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[0].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[0].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/<%=@posts[0].user.username%>" class="entry__profile-pic">
                                        <% if @posts[0].user.image?%>
                                            <img class="avatar" src="<%=@posts[0].user.image%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%>                                           
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[0].address.capitalize%></a></li>
                                        <% d0 = @posts[0].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d0[5..15] +' à '+ @posts[0].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[1].image%>');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[1].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[1].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/<%=@posts[1].user.username%>" class="entry__profile-pic">
                                        <% if @posts[1].user.image?%>
                                            <img class="avatar" src="<%=@posts[1].user.image%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%> 
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[1].address.capitalize%></a></li>
                                        <% d1 = @posts[1].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d1[5..15] +' à '+ @posts[1].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[3].image%>');"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[3].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[3].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/<%=@posts[3].user.username%>" class="entry__profile-pic">
                                        <% if @posts[3].user.image?%>
                                            <img class="avatar" src="<%=@posts[3].user.image%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%> 
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[3].address.capitalize%></a></li>
                                        <% d2 = @posts[3].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d2[5..15] +' à '+ @posts[3].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->
                    
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->




